<table class="data-table data-table--lined data-table--zebra">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Hoedanigheid</th>
      <th>
        <div class="grid">
          <div class="col--6-12">
            Actie
          </div>
          {{!-- Disabled to decrease complexity
          <div class="col--6-12 u-align--right">
            {{#wu-link-button isSmall=true isAlt=true isNarrow=true onClick=(action "initAddPersoon")}}
              <i class="vi vi-plus vi-u-s"></i> Nieuwe aanwezige
            {{/wu-link-button}}
          </div> --}}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#if isBusy}}
      <p class="loader"><span class="u-visually-hidden">Bezig met laden...</span></p>
    {{else}}
      {{#if initAddPersoon}}
        {{editor-plugins/aanwezigen-stemming-table-row
          initAddPersoon=initAddPersoon
          onCancelAddPersoon=(action "cancelAddPersoon")
          onSaveNewPersoon=(action "saveNewPersoon")
          bestuursorgaan=bestuursorgaan
        }}
      {{/if}}
      {{#each rows as |row|}}
        {{editor-plugins/aanwezigen-stemming-table-row
          row=row
          onUpdateMandatarisAanwezige=(action "updateMandatarisAanwezige" row)
          onAddStemmer=(action "addStemmer" row)
          onRemoveStemmer=(action "removeStemmer" row)
          onRemoveAanwezige=(action "removeAanwezige" row)
        }}
      {{else}}
	      {{#unless initAddPersoon}}
		      <tr>
		      	<td colspan="3" style="background-color: white; height: 10rem;">
			      	<p class="text-fade">Geen aanwezigen gevonden. Voeg een nieuwe aanwezige toe.</p>
		      	</td>
		      </tr>
	      {{/unless}}
      {{/each}}
    {{/if}}
  </tbody>
</table>
