{{#wu-button-group class="u-spacer--tb"}}
  {{#wu-button isNarrow=true isSmall=true isAltBlue=true isAlt=true onClick=(action 'setUnaniemVoorstander')}}Geef unaniem voorstander in <i class="vi vi-check vi-u-s"></i>{{/wu-button}}
  {{#wu-button isNarrow=true isSmall=true isAltBlue=true isAlt=true onClick=(action 'setUnaniemTegenstander')}}Geef unaniem tegenstander in <i class="vi vi-cross vi-u-s"></i>{{/wu-button}}
  {{#wu-button isNarrow=true isSmall=true isAltBlue=true isAlt=true onClick=(action 'setUnaniemOnthouder')}}Geef unaniem onthouder in <i class="fa fa-circle vi-u-s"></i>{{/wu-button}}
{{/wu-button-group}}

<table class="data-table data-table--lined data-table--zebra">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Hoedanigheid</th>
      {{#unless isSecret}}
        <th>Stemgedrag</th>
      {{/unless}}
    </tr>
  </thead>
  <tbody>
    {{#if isBusy}}
      <p class="loader"><span class="u-visually-hidden">Bezig met laden...</span></p>
    {{else}}
      {{#each rows as |row|}}
        {{editor-plugins/manage-stemmers-table-row
          row=row
          onUpdateStembehaviour=(action "updateStembehaviour" row)
          isSecret=isSecret
        }}
      {{else}}
        <tr>
          <td colspan="3" style="background-color: white; height: 10rem;">
            <p class="text-fade">Geen stemmers gevonden. Ga terug naar <strong>beheer aanwezigen</strong> en geef aanwezigen <strong>stemrecht</strong>.</p>
          </td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
{{#wu-button-group class="u-spacer--tb"}}
  {{#wu-button isNarrow=true isSmall=true isAltBlue=true isAlt=true onClick=(action 'setUnaniemVoorstander')}}Geef unaniem voorstander in <i class="vi vi-check vi-u-s"></i>{{/wu-button}}
  {{#wu-button isNarrow=true isSmall=true isAltBlue=true isAlt=true onClick=(action 'setUnaniemTegenstander')}}Geef unaniem tegenstander in <i class="vi vi-cross vi-u-s"></i>{{/wu-button}}
  {{#wu-button isNarrow=true isSmall=true isAltBlue=true isAlt=true onClick=(action 'setUnaniemOnthouder')}}Geef unaniem onthouder in <i class="fa fa-circle vi-u-s"></i>{{/wu-button}}
{{/wu-button-group}}
