<table class="data-table data-table--lined data-table--zebra">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Hoedanigheid</th>
      {{#unless isSecret}}
        <th>Stemgedrag</th>
      {{/unless}}
    </tr>
  </thead>
  <tbody>
    {{#if isBusy}}
      <p class="loader"><span class="u-visually-hidden">Bezig met laden...</span></p>
    {{else}}
      {{#each rows as |row|}}
        {{editor-plugins/manage-stemmers-table-row
          row=row
          onUpdateStembehaviour=(action "updateStembehaviour" row)
          isSecret=isSecret
        }}
      {{/each}}
    {{/if}}
  </tbody>
</table>
