<td>
  {{row.persoon.gebruikteVoornaam}} {{row.persoon.achternaam}}
</td>
<td>
  {{row.mandataris.bekleedt.0.bestuursfunctie.0.label}}
</td>
{{#unless isSecret}}
  <td>
    {{editor-plugins/stem-property-selector stemProperty=row.selectedStemBehaviour onSelect=(action "updateStembehaviour")}}
  </td>
{{/unless}}
