{{#if loadData.isRunning}}
  <p class="loader"><span class="u-visually-hidden">Bezig met laden</span></p>
{{else}}
  {{editor-plugins/aanwezigen-stemming-table
    stemming=stemming
    mandatarissenInDocument=mandatarissenInDocument
    personenInDocument=personenInDocument
    bestuursorgaan=bestuursorgaan
    onRemove=(action "removeAanwezige")
  }}
{{/if}}
{{yield}}
